<mat-expansion-panel *ngFor="let user of users | async" class="user__container" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{user.name}}
    </mat-panel-title>
    <mat-panel-description class="user__delete-button" (click)="deleteUser(user.id)">
      <mat-icon>close</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div>{{user.permissions}}</div>
  <button mat-raised-button color="primary">Add new permission</button>
</mat-expansion-panel>
<button mat-raised-button color="primary" (click)="openDialog()">Create new user</button>
