.user-group {
  position: relative;

  &__container {
    width: 450px;
  }

  &__delete-button {
    position: absolute;
    right: 25px;
    top: 15px;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__dialog{
    width: 100%;
    margin-top: 20px;
  }
}
