<div class="user-group__container">
  <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
    *ngFor="let userGroup of userGroups | async">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ userGroup.title }}
      </mat-panel-title>
      <mat-panel-description
        class="user-group__delete-button"
        (click)="deleteGroup(userGroup.id)">
        <mat-icon>close</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <button mat-stroked-button [matMenuTriggerFor]="permissions" color="primary"
    [disabled]="!getActualPermissions(userGroup.permissions).length">
      Add new permission
    </button>
    <mat-menu #permissions="matMenu">
      <button mat-menu-item *ngFor="let permission of getActualPermissions(userGroup.permissions)"
      (click)="addPermission(userGroup, permission)">
        {{ permission }}
      </button>
    </mat-menu>

    <button mat-stroked-button [matMenuTriggerFor]="users" color="primary"
    [disabled]="!getActualUsers(userGroup.users).length">
      Assign user
    </button>
    <mat-menu #users="matMenu">
      <button mat-menu-item *ngFor="let user of getActualUsers(userGroup.users)"
      (click)="addUser(userGroup, user)">
      {{ user.name }}
      </button>
    </mat-menu>

    <div>
      <h4>User group permissions</h4>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let permission of userGroup.permissions; let i = index"
          (removed)="removePermission(userGroup, i)">
            {{ permission }}

          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>

    <div>
      <h4>Assigned users</h4>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let user of userGroup.users; let i = index"
        (removed)="removeUser(userGroup, i)">
          {{ user.name }}

          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>


  </mat-expansion-panel>


  <button mat-raised-button color="primary" class="user-group__dialog" (click)="openDialog()">Create new user group</button>

</div>
